@import 'function/breakpoint';

@import 'theme';
@import 'reset';

@import 'atomic/all';
@import 'utility/all';
@import 'layout/all';
@import 'component/all';

@import 'fontawesome/fontawesome';
@import 'fontawesome/regular';
@import 'fontawesome/light';
@import 'fontawesome/brands';

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	font-family: 'Poppins', sans-serif;
}

:root {
	--navbar-height: 4rem;
	--header-hight: 110px;
}

.content-wrap {
	padding-top: var(--header-hight);
}
