@import 'function/breakpoint';

@import 'theme';
@import 'reset';
@import 'fonts';

@import 'atomic/all';
@import 'utility/all';
@import 'layout/all';
@import 'component/all';

body {
	font-family: 'Poppins', sans-serif;
}

:root {
	--navbar-height: 4rem;
	--header-hight: 110px;
}

.content-wrap {
	padding-top: var(--header-hight);
}
