@import '@nomimono/nomimono-theme/light.css';
@import '@nomimono/nomimono-css/reset.css';
@import '@nomimono/nomimono-css/component.css';
@import '@nomimono/nomimono-css/atomic.css';
@import '@nomimono/nomimono-css/utility.css';
@import '@nomimono/nomimono-css/layout.css';

@import 'theme';
@import 'config';
@import 'function/breakpoint';

// @import 'reset';
@import 'fonts';

// @import 'atomic/all';
// @import 'utility/all';
@import 'layout/all';
@import 'component/all';

// body {
// 	font-family: 'Poppins', sans-serif;
// }

:root {
	--navbar-height: 4rem;
	--header-hight: 110px;
}

.content-wrap {
	padding-top: var(--header-hight);
}
