<nav id="nav" class="navbar" aria-hidden="true">
	<div class="navbar-bar container">
		<a href="/">
			<img src="{{ (resources.Get "image/logo.webp" | resources.Fingerprint).RelPermalink }}" height="50" alt="Deploys.app">
		</a>
		<div id="nav-toggle" class="navbar-toggle" tabindex="0" role="button">
			<div class="navbar-toggle-container">
				{{ partial "icon" "light/bars" }}
			</div>
		</div>
		<div id="nav-menu-container" class="navbar-menu-container">
			<ul class="navbar-menus">
				<li class="navbar-menu">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link" href="/#feature">Features</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link" href="/#price">Prices</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link" href="/privacy-policy">Privacy</a>
				</li>
				<li class="navbar-menu">
					<div class="navbar-cta">
						<a class="button -small" href="https://console.deploys.app">Console</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const nav = document.getElementById('nav')
		const toggle = document.getElementById('nav-toggle')
		const container = document.getElementById('nav-menu-container')

		toggle.addEventListener('click', () => {
			container.classList.toggle('active')
		})

		container.querySelectorAll('.nav-link, .navbar-cta a').forEach((link) => {
			link.addEventListener('click', () => {
				container.classList.remove('active')
			})
		})

		let fixed = false
		let scrolling = false
		
		const onScroll = () => {
			scrolling = false
			fixed = window.scrollY > 100

			container.classList.remove('active')
			
			if (fixed) {
				nav.classList.add('navbar-fixed')
			} else {
				nav.classList.remove('navbar-fixed')
			}
		}
		
		const handleScroll = () => {
			if (scrolling) return
			
			scrolling = true
			setTimeout(onScroll, 150)
		}

		window.addEventListener('scroll', handleScroll)

		handleScroll()
	})
</script>
