<nav class="moon-navbar lo-container"
	x-data="{
	 	active: false,
	 	fixed: false,
	 	scrolling: false,
	 	onScroll () {
	 		this.scrolling = false
			this.fixed = window.pageYOffset > 100
	 	}
	 }"
	@click.outside="active = false"
	:class="{ 'navbar-fixed': fixed }"
	@scroll.window="
	 	if (scrolling) {
			return
		}

		scrolling = true
		setTimeout(() => onScroll(), 150)
	 ">
	<div class="_dp-f _alit-ct _fw-w _jtfct-spbtw">
		<a href="/">
			<img src="{{ (resources.Get "images/logo.png" | resources.Fingerprint).RelPermalink }}" height="50" alt="Deploys.app">
		</a>
		<div class="navbar-toggle" @click="active = !active">
			<div class="navbar-toggle-container">
				<i class="far fa-bars _fs-700"></i>
			</div>
		</div>
		<div class="navbar-menu-container" :class="{ active }">
			<ul class="navbar-menus">
				<li class="navbar-menu">
					<a class="nav-link" href="/" @click="active = false">Home</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link" href="/#feature" @click="active = false">Features</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link" href="/#price" @click="active = false">Prices</a>
				</li>
				<li class="navbar-menu" @click="active = false">
					<div class="_dp-f _jtfct-ct">
						<a class="moon-button _cl-light-primary nav-link -small" href="https://console.deploys.app" @click="active = false">Console</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
