<nav id="nav" class="moon-navbar lo-container" aria-hidden="true">
	<div class="_dp-f _alit-ct _fw-w _jtfct-spbtw">
		<a href="/">
			<img src="{{ (resources.Get "image/logo.png" | resources.Fingerprint).RelPermalink }}" height="50" alt="Deploys.app">
		</a>
		<div id="nav-toggle" class="navbar-toggle" tabindex="0" role="button"
			 _="on click toggle .active on #nav-menu-container">
			<div class="navbar-toggle-container">
				<i class="fa-light fa-bars _fs-700"></i>
			</div>
		</div>
		<div id="nav-menu-container" class="navbar-menu-container">
			<ul class="navbar-menus">
				<li class="navbar-menu">
					<a class="nav-link"
					   href="/"
					   _="on click remove .active from #nav-menu-container">Home</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link"
					   href="/#feature"
					   _="on click remove .active from #nav-menu-container">Features</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link"
					   href="/#price"
					   _="on click remove .active from #nav-menu-container">Prices</a>
				</li>
				<li class="navbar-menu">
					<a class="nav-link"
					   href="/privacy-policy">Privacy</a>
				</li>
				<li class="navbar-menu">
					<div class="_dp-f _jtfct-ct">
						<a class="moon-button _cl-light-primary nav-link -small"
						   href="https://console.deploys.app"
						   _="on click remove .active from #nav-menu-container">Console</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const nav = document.getElementById('nav')
		const container = document.getElementById('nav-menu-container')

		let fixed = false
		let scrolling = false
		
		const onScroll = () => {
			scrolling = false
			fixed = window.scrollY > 100

			container.classList.remove('active')
			
			if (fixed) {
				nav.classList.add('navbar-fixed')
			} else {
				nav.classList.remove('navbar-fixed')
			}
		}
		
		const handleScroll = () => {
			if (scrolling) return
			
			scrolling = true
			setTimeout(onScroll, 150)
		}

		window.addEventListener('scroll', handleScroll)

		handleScroll()
	})
</script>
