pre {
	position: relative;
	border: 1px solid var(--color-line-dark);
	padding: 1.25rem;
	border-radius: var(--radius-md, 0.5rem);
	margin-bottom: 1.5rem;
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: var(--color-ink);
	color: var(--color-content-inv);
	font-family: var(--font-family-mono);
	font-size: var(--font-size-300);

	.copy {
		position: absolute;
		top: 0;
		right: 0;
		background-color: hsla(230, 16%, 22%, 0.6);
		padding: 6px 10px;
		font-size: 0.875rem;
		font-weight: 600;
		cursor: pointer;
		user-select: none;
		border: 0;
		border-radius: 0 var(--radius-md, 0.5rem) 0 var(--radius-md, 0.5rem);
		color: var(--color-content-inv);
		outline: 0;

		&:hover {
			background-color: hsla(230, 16%, 22%, 0.9);
		}
	}

	code {
		white-space: pre-wrap;
		display: block;
		background-color: transparent;
		font-family: var(--font-family-mono);
	}

	&.pre-scoll {
		min-height: 800px;
		max-height: 800px;
		overflow-y: auto;
	}
}
